.titulacion {
    height: 26.25rem;
    background-image: url(/assets/img.jpg/fondo\ ppal.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.titulacion h1 {
    padding-top: 3.125rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: .125rem .125rem .125rem black;
    font-size: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitulo {
    margin-left: 1.25rem;
    margin-top: 2.5rem;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: .125rem .125rem .125rem black;
}

.titulacion .descripcion {
    margin-left: 1.25rem;
    margin-top: 2.5rem;
    text-align: justify;
    margin-right: 1.25rem;
    color: gray;
    text-shadow: .125rem .125rem .125rem black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25rem;
}
