.patrocinadores {
    background: red;
    text-align: center;
    font-size: 1.25rem;
    text-shadow: .075rem .075rem .075rem white;
}

.patrocinadores img {
    display: inline-block;
    border: .25rem black;
    width: 14.375rem;
    height: 12.5rem;
    border-radius: .313rem;
    box-shadow: .188rem .188rem .188rem grey;
    margin-top: .938rem;
}

img.tipos:hover {
    transform: translateY(-10px);
}

img.tipos {
    transition: .3s;
}

.comentarios {
    background: white;
    display: grid;
    grid-template-areas: '.letra .agrego';
    justify-content: space-around;
    margin-top: 1.25rem;
}

.letra {
    grid-area: letra;
}

.agrego {
    grid-area: agrego;
}

.reset {
    border:black 1px solid;
    box-shadow: .188rem .188rem .188rem gray;
    margin: .938rem;
    border-radius: .438rem;
}

.reset {
    height: 3.75rem;
    text-align: end;
    padding: .5rem .625rem .313rem .5rem;
    background: burlywood;
}

.reset p {
    text-align: justify

}

.letra h2 {
    font-size: 1.563rem;
    text-align: center;
    padding-bottom: .625rem;
}

.letra img {
    margin-left: .625rem;
}