.parte2 {
    background: rgb(171, 171, 223);
}

.componente {
    margin: 0;
    padding: .625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.integrado {
    flex-direction: column;
    flex-wrap: wrap;
}

.integrado1 {
    background: white;
    display: block;
    padding: 1.25rem;
    text-align: justify;
    border: grey .094rem solid;
    border-radius: .938rem;
    box-shadow: .125rem .125rem .125rem;
}

.integrado2 {
    background: white;
    display: block; 
    padding: 1.25rem;
    text-align: justify;
    border: grey .094rem solid;
    border-radius: .938rem;
    box-shadow: .125rem .125rem .125rem ;
}

.integrado3 {
    background: white;
    display: block;
    padding: 1.25rem;
    text-align: justify;
    border: grey .094rem solid;
    border-radius: .938rem;
    box-shadow: .125rem .125rem .125rem;
}

.integrado4 {
    background: white;
    display: block;
    padding: 1.25rem;
    text-align: justify;
    border: grey .094rem solid;
    border-radius: .938rem;
    box-shadow: .125rem .125rem .125rem;
}

.integrado1 img {
    margin-left: 4.25rem;
}

.integrado2 img {
    margin-left: 3.125rem;
}

.integrado3 img {
    margin-left: 4.375rem;
}

.integrado4 img {
    margin-left: 4.375rem;
}

.subtitulo-m2 {
    text-align: center;
    text-shadow: white .125rem .125rem .125rem;
    font-size: 1.25rem;
}

.integrado1 p {
    color: blue;
}

.integrado2 p {
    color: blue;
}

.integrado3 p {
    color: blue;
}

.integrado4 p {
    color: blue;
}

li.present {
    
    color: white;
    text-shadow: black 1px 1px 1px;
    margin: 0 0 .625rem 13.75rem;
    padding-bottom: .625rem;
    font-size: 1.125rem;
}

ul.novedad {
    background: blue;
}