* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: lightslategray;
}

.carrusel {
    width: 90%;
    max-width: 850px;
    overflow: hidden;
    border-radius: 10px;
}

li {
    list-style: none;
}

ul.fotos {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.img-active {
min-width: 100%;
transition: opacity 0.5s ease;
}

.img {
    min-width: 100%;
    transition: opacity 0.5s ease;
}

.img img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.titulo-slider {
text-align: center;
}