.carrusel {
    margin: auto;
    background-color: rgb(38, 38, 73);
    width: 1000px;
    padding: 30px;
}

li {
    list-style: none;
}

ul.fotos {
    position: relative;
    width: 1000px;
    height: 300px;
}

ul.fotos li {
    position: absolute;
}

.titulo-slider {
text-align: center;
}