:root{
    --color: #171414;
}

a {
 color: white;   
}

.descipcion {
    color: rgb(192, 199, 65);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

.submenu li:hover {
    background-color: #f1f1f1;
}

.carrusel {
    background-color: rgb(50, 50, 110);
}
