header.logo {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-end: 50%;
}

.logo div{
align-items: start;
}
main {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 5px;
}
