header {
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: black;
}

.titulo {
    color: white;
    font-size: x-large;
    padding-left: 20px;
    padding-right: 200px;
}

nav {
    width: 680px;
    height: 200px;
    margin: 0;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    margin-top: 80px;
    font-size: 20px;
}

.menu li a{
    display: block;
    padding: 10px 10px;
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    color: red;
}

.submenu li a:hover {
    color: red;
}
.submenu li {
    position: absolute;
    display: none;
    list-style: none;
    width: 50px;
}

.menu li:hover .submenu li {
    display: contents;
}