.titulacion {
    height: 26.25rem;
    background-image: url(/assets/img.jpg/fondo.jpg);
    background-size: cover;
}

.titulacion h1 {
    margin-left: 1.25rem;
    padding-top: 3.125rem;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitulo {
    margin-left: 1.25rem;
    margin-top: 2.5rem;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulacion .descripcion {
    margin-left: 1.25rem;
    margin-top: 2.5rem;
    text-align: justify;
    margin-right: 1.25rem;
    color: rgb(12, 14, 20);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
