.titulacion {
    height: 26.25rem;
    background-image: url(/assets/img.jpg/fondo.jpg);
    background-size: cover;
}

.titulacion h1 {
    margin-left: 30.25rem;
    padding-top: 3.125rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 2px black;
    font-size: 50px;
}

.subtitulo {
    margin-left: 1.25rem;
    margin-top: 2.5rem;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 2px black;
}

.titulacion .descripcion {
    margin-left: 1.25rem;
    margin-top: 2.5rem;
    text-align: justify;
    margin-right: 1.25rem;
    color: gray;
    text-shadow: 2px 2px 2px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
