main .titulacion {
    padding-top: 20px;
    padding-left: 10px;
    background-image: url(/assets/img.jpg/edificio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100px; ;
    height: 400px;
    font-size: larger;
}

.titulacion {
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
    justify-self: end;

.subtitulo {
    display: flex;
    padding: 30px 10px 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif cursive;
    color: black;
}

.descripcion {
    display: flex;
    padding: 15px 10px 5px 10px;
    font-size: large;
    text-align: justify;
    align-items: end;
    color: black;
    text-shadow: 10px white;
 }