#apartado {
    display: grid;
    grid-area: 'auto auto' ;
}

#apartado {
    grid-area: apartado;
}

.deco {
    grid-area: deco;
    object-fit: cover;
}

#apartado {
    background: lightslategray;
    padding: 0 40px;
    border: solid black .5px;
    border-radius: 9px;
    margin-top: 10px;
}
.parrafo {
    position: absolute;
    transform: translate(-50%);
    top: 0;
    bottom: 5px;
    left: 250px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin: 0;
}

#apartado {
    color: rgba(5, 18, 39, 0.835);
    margin-left: 70px;
    margin-right: 70px;
    font-size: 18px;
    box-sizing: border-box;
}

.opcion li {
    margin: 0;
    padding: 10px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    font-size: 18px;
}

button:hover {
background-color: rgb(35, 136, 203);
}

button {
    border-radius: 10px;
    border-color: rgb(60, 60, 71);
    box-sizing: 10px;
}

p a {
    color: red;
}
