main.registro {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: 55% 45%;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    background: rgb(35, 113, 135)
}

main.lejano {
    width: 100%;
    height: auto;
}

form #apartado {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border: .2rem solid rgba(0, 0, 0, 0.363);
    margin: .9rem;
}

form {
    background: white;
    width: 33rem;
    border: .125rem rgb(96, 87, 87) solid;
    border-radius: .625rem;
    box-shadow: .188rem .188rem .188rem white;
    margin-left: 2.25rem;
}

 h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    padding: .5rem 0;
    text-align: center;
    color: rgba(39, 136, 50, 0.879);
    text-shadow: .125rem .125rem .125rem black;
}

li {
    padding: .5rem;
    font-size: 1.25rem;
}

ul {
    list-style: none;
}

label #sexo {
    margin: 0;
    padding: 0;
}

label {
    padding: .5rem;
}

input {
    padding: .5rem;
    margin-top: .5rem;
    border-radius: .625rem;
    box-shadow: .188rem .188rem .188rem gray;
    background: lightgreen;
}

button {
    background: rgba(24, 24, 210, 0.869);
    padding: .3rem;
    border-radius: .5rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    color: white;
}

button:hover {
    background-color: red;
}

p {
    color: red;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
}

.deco img {
    width: 100%;
    height: 37rem;
    border: .125rem black solid;
    border-radius: .625rem;
    box-shadow: grey .125rem .125rem .125rem;
}

.deco {
    background: rgba(15, 14, 14, 0.236);
    width: 60%;
    height: 37.5rem;
    padding-left: 4.375rem;
    margin: 0;
}