body.aire {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-image: url(/assets/img.jpg/edificio.jpg);
    background-size: cover;
}

.recuperar {
    width: 25rem;
    height: 12.5rem;
    background: blue; 
    text-align: center; 
    border: black .125rem solid;
    box-shadow: gray .125rem .125rem .125rem ;
    border-radius: .563rem; 
    margin-top: 11.25rem;
}

input.vivo {
    width: 20rem;
    background: white;
    border: black .125rem solid;
    border-radius: .563rem;
}
    
h1.tecni {
    text-shadow: white .125rem .125rem .125rem;
}