.modus {
    display: grid;
    grid-template-areas: 'header header'
                        'adicion partir';
}

header {
    grid-area: header;
}

.adicion{
    grid-area: adicion;
    background: blue;
}

.partir {
    grid-area: partir;
    background: yellow;
}

header {
    margin: 0;
    background: yellowgreen;
    width: 100%;
    height: 6rem;
    font-style: oblique;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 480px) {
    .modus{
        grid-template-areas: 'header'
                            'adicion' 
                            'partir';
    } 
}

header {
    display: flex;
    flex-flow: wrap;
}