@import "colors.css";
@import "gridd.css";
@import "header.css";
@import "relation.css";
@import "logo.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
   text-decoration: none; 
}

nav li {
display: inline block;
position: relative;
}



.submenu{
display: none;
position: absolute;
min-width: 150px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}

.submenu li {
    display: block;
    padding: 10px;
}

.menu {
    font-family: Arial, Helvetica, sans-serif;
}

.menu li:hover .submenu {
    display: block;
}

nav li a {
display: block;
padding: 10px;
text-decoration: none;
}

nav .submenu {
    display: none;
    position: relative;
}

main .titulacion {
    background-image: url(/assets/img.jpg/edificio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;

}

.descripcion {
    display: flex;
    font-size: larger;
    text-align: baseline;
    color:black;
    text-shadow: 9px 9px 9px 9px black;
 }

.subtitulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif cursive;
    color: black;
}


.contenido-inicial {
    background-color: black;
    color: blanchedalmond;
}

.social-media {
    align-items: center;
    justify-items: center;
}
