
body {
    background-image: url(/assets/img.jpg/inicio\ sesion.jpg);
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

#inf-ppal {
    width: 30rem;
    height: 18rem;
    background-color: white;
    border-radius: .9rem;
    border: .125rem grey solid;
    box-shadow: .125rem .125rem .125rem black;
    align-items: center;
    justify-content: center;
    margin-left: 22.9rem;
}

p {
    color: white;
    font-size: 1.875rem;
    text-shadow: black .125rem .125rem .125rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.start {
    margin-top: 7rem;
    font-size: 1.875rem;
}

#inf-ppal input{
    margin-top: 1.5rem;
}

input {
    background: gold;
    width: 15.625rem;
    border-radius: .375rem;
}

#inf-ppal button {
    background-color: rgba(24, 24, 210, 0.869);
    width: 8rem;
    color: white;
    margin-top: 3rem;
    margin-left: 10rem;
    border-radius: .5rem;
}

#inf-ppal button:hover {
    background-color:  red;
}

#inf-ppal a {
    color: red;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 0;
}


#inf-ppal label {
    margin-left: 5rem;
    font-size: 1.25rem;
    color: blue;
    padding: 0;
    display: inline-block;
    text-align: start;
}

.novedoso {
    color: blue;
    text-decoration: none;
    padding: 0;
    display: flex;
}




