section.estado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido1 {
    background: white;
    border-radius: 10px;
    height: 63rem;
    width: 62.5rem;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
}

.pop {
    background: lightgreen;
    height: 58.25rem;
    width: 62.5rem;
    position: relative;
    display: none;
}

.remix {
    background: yellowgreen;
    height: 20rem;
    width: 35rem;
    position: relative;
    display: none;
}

.ventana {
    position: absolute;
    left: 60.47rem;
    top: 0.6rem;
    display: block;
}

.venta {
    position: absolute;
    display: block;
    left: 61.15rem;
    top: 0.175rem;
}

.ventan {
    position: absolute;
    left: 33.313rem;
    top: 0.175rem;
    display: block;
}

.submenu li a {
    color: white;
}

li {
    list-style: none;
}

img.first {
    margin: 5px 0 5px 5px;
}

p.disco {
    text-align: right;
}

.contenido1 {
    background: blue;
}

.metodo1 {
    border: 1px black solid;
    border-radius: 6px;
    background: white;
    padding: 5px;
}
   
.metodo2 {
    border: 1px black solid;
    border-radius: 6px;
    background: white;
    padding: 5px;
}

.metodo3 {
    border: 1px black solid;
    border-radius: 6px;
    background: white;
    padding: 5px;
}

.metodo4 {
    border: 1px black solid; 
    border-radius: 6px;
    background: white;
    padding: 5px;
}

.metodo1 li a {
    color: red;
}

.metodo2 li a {
    color: red;
}

.metodo3 li a {
    color: red;
}

.metodo4 li a {
    color: red;
}

.opcion1 {
    border: 1px black solid;
    border-radius: 6px;
    background: white;
    padding: 5px;
}

.opcion2 {
    border: 1px black solid;
    border-radius: 6px;
    background: white;
    padding: 5px;
}

.opcion3 {
    border: 1px black solid;
    border-radius: 6px;
    background: white;
    padding: 5px;
}

.opcion4 {
    border: 1px black solid;
    border-radius: 6px;
    background: white;
    padding: 5px;
}

.opcion1 li a {
    color: red;
}

.opcion2 li a {
    color: red;
}

.opcion3 li a {
    color: red;
}

.opcion4 li a {
    color: red;
}

.espera {
    border: 1px black solid;
    border-radius: 6px;
    background: white;
    padding: 5px;  
}

.espera li a {
    color: red;
}
