section.estado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido1 {
    background: white;
    border-radius: 10px;
    height: 77rem;
    width: 50.5rem;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
}

.pop {
    background: white;
    height: 74rem;
    width: 40.5rem;
    position: relative;
    display: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
}

.remix {
    background: white;
    height: 22rem;
    width: 35rem;
    position: relative;
    display: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
}

.ventana {
    position: absolute;
    left: 48.5rem;
    top: 0.6rem;
    display: block;
}

.venta {
    position: absolute;
    display: block;
    left: 38.5rem;
    top: 0.975rem;
}

.ventan {
    position: absolute;
    left: 32.98rem;
    top: 0.775rem;
    display: block;
}

.submenu li a {
    color: white;
}

li {
    list-style: none;
}

img.first {
    margin: 5px 0 5px 5px;
}

p.disco {
    text-align: right;
}

.contenido1 {
    background: blue;
}

.pop {
    background: blue;
}

.remix {
    background: blue;
}

.metodo1 {
    border: 1px black solid;
    border-radius: 6px;
    background: white;
    padding: 5px;

}
   
.metodo2 {
    border: 1px black solid;
    border-radius: 6px;
    background: white;
    padding: 5px;
}

.metodo3 {
    border: 1px black solid;
    border-radius: 6px;
    background: white;
    padding: 5px;
}

.metodo4 {
    border: 1px black solid; 
    border-radius: 6px;
    background: white;
    padding: 5px;
}

.metodo1 li a {
    color: red;
}

.metodo2 li a {
    color: red;
}

.metodo3 li a {
    color: red;
}

.metodo4 li a {
    color: red;
}

.opcion1 {
    border: 1px black solid;
    border-radius: 6px;
    background: white;
    padding: 5px;
}

.opcion2 {
    border: 1px black solid;
    border-radius: 6px;
    background: white;
    padding: 5px;
}

.opcion3 {
    border: 1px black solid;
    border-radius: 6px;
    background: white;
    padding: 5px;
}

.opcion4 {
    border: 1px black solid;
    border-radius: 6px;
    background: white;
    padding: 5px;
}

.opcion1 li a {
    color: red;
}

.opcion2 li a {
    color: red;
}

.opcion3 li a {
    color: red;
}

.opcion4 li a {
    color: red;
}

.espera {
    border: 1px black solid;
    border-radius: 6px;
    background: white;
    padding: 5px;  
}

.espera li a {
    color: red;
}

button  {
    background: red;
    color: white;
    border-radius: 9px;
    box-shadow: 3px 3px 3px gray;
    width: 60px;
    height: 40px;
    margin-top: 20px;
}

button a {
    color: white;
    text-decoration: none;
}
